<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="1.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue : 1-7 : リストレンダリング</title>
</head>

<body>

    <div id="el1">
        <h1>v-for</h1>
        <h2>基本 + index</h2>
        <ul>
            <li v-for="(item, index) in items" :key="item.message">
                {{ item.message }} --- {{ index }} --- {{ item.message }}
            </li>
        </ul>

        <h2>item of items</h2>
        <div v-for="item of items">
            {{item.message}}
        </div>
        

        <h2>オブジェクトのfor</h2>
        <ul>
            <li v-for="(aaa, bbb, ccc) in obj">
                {{ aaa }} : {{ bbb }} --- {{ ccc }}
            </li>
        </ul>

        <div>これ、第1引数がデータ、第2が変数名、第3がインデックスで固定ね。</div>
        <div>オブジェクトの反復処理の順序は一貫性が保証されないっす。とのこと。</div>

    </div>

    <script src="1.js"></script>

</body>

</html>