html, body {
    margin: 5px;
    padding: 0;
    background-color: silver;
}

.static {
    background-color: cornflowerblue;
}

.fontRed {
    color: red;
}

.fontBlue {
    color: blue;
}

.font-italic {
    font-style : italic;
}

.fontGreenYellow {
    color: greenyellow;
}

.fontUnderline {
    text-decoration: underline;
}